#flapp-jump{
    background-image: url('https://st2.depositphotos.com/3759469/6798/v/450/depositphotos_67982979-stock-illustration-horizontally-seamless-game-background.jpg');
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
}